 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
 }
.clearfix::after {
    clear: both;
}
/* Flex */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-left {
  display: flex;
  justify-content: left;
  align-items: center;
}
.flex-btw {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.flex-blog-left {
  display: flex;
  justify-content: left;
  align-items: center;
}
/* Container */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 70px;
}
.center {
    justify-content: center;
    align-items: center;
}
.jutify-between {
  justify-content: space-between;
}
/* HEADER */
.header {
    background-color: white;
    padding: 20px;
}
h1 {
    color: #796D69;
    font-size: 30px;
}
.nav-bar a {
    font-size: 12px;
    text-decoration: none;
    color: #A59D9B;
    margin: 20px;
}
.nav-bar a:hover {
  color: #EA5434;
}
#toggle,
.bars {
  display: none;
}
/* Dropdown Button */
.drop-down-arrow {
  color: #524b49;
  margin-left: 5px;
}
.dropbtn {
  color: #A59D9B;
  font-size: 12px;
  border: none;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.background-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.3)), url(../media/hero.png);
    padding: 120px;
    margin-right: 30px;
}
.heading-hero {
    color: white;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 10px;
}
.text-hero{
    color: #CCCCCE;
    font-size: 18px;
    padding-bottom: 50px;
    font-weight: lighter;
}
.circle {
    background-color: #DB5F46;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
}
.arrow {
    padding-left: 8px;
    padding-top: 10px;
}
.long-circle {
    background-color: #584b48b0;
    color: white;
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
    padding-left: 16px;
    padding-top: 6px;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    margin-left: 20px;
}
/* CHOOSE */
.choose-box {
    width: 310px;
    height: 320px;
    background-color: #EA5434;
    padding: 40px 30px;
    margin-top: -90px;
    margin-bottom: 30px;
}
.choose-heading {
    font-size: 25px;
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
}
.choose-text {
    font-size: 15px;
    color: white;
    line-height: 1;
    padding-bottom: 20px;
}
.learn-btn{
    border-radius: 15px;
    background-color: #F09171;
    padding: 10px;
    color: white;
    font-size: 15px;
    text-align: center;
    margin-left: 60px;
    padding-top: 7px;
    text-decoration: none;
}
.learn-btn a:hover {
  background-color: white;
}
.white-box {
    width: 250px;
    height: 260px;
    border-radius: 8px;
    color: #524b49;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);    
    margin: 20px;
    margin-top: -80px;
}
.white-heading {
    font-size: 16px;
    color: #3d3c3c;
    text-align: center;
    padding-bottom: 20px;
}
.white-text {
    color: #796D69;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    margin: 0 20px;
}
.box-logo {
  align-items: center;
  padding-left: 110px;
  padding-bottom: 25px;
  padding-top: 30px;
  font-size: 30px;
  text-decoration: none;
}
.box-logo a {
  color: #EA5434;
}
/* ABOUT */
.about-article {
  background-color: rgb(254, 249, 247);
  margin-right: 40px;
}
.about-img {
  width: 100%;
}
.play-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #EA5434;
  margin-top: -200px;
  margin-left: 145px;
  position: relative;
}
.about-text {
  font-size: 15px;
  color: #A59D9B;
  padding-bottom: 20px;
}
.about-heading {
  font-size: 25px;
  color: #635e5d;
  padding-bottom: 20px;
}
.about-para {
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 20px;
}
.about-title {
  font-size: 16px;
  color: #3d3c3c;
  padding-left: 20px;
  padding-bottom: 10px;
}
.about-under {
  font-size: 15px;
  color: #3d3c3c;
  line-height: 1.5;
  padding-left: 20px;
}
.circle-article {
  margin-bottom: 40px;
}
.circle-logo {
  padding-bottom: 35px;
  padding-top: 35px;
}
/* CLIENT */
.client-logo {
  width: 110px;
  height: 40px;
  margin: 45px;
  -webkit-filter: grayscale(1);
}
.client-logo:hover {
  -webkit-filter: initial;
}
.circle-1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #EA5434;
}
.circle-2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #CCCCCE;
  margin: 10px;
  margin-right: 40px;
}
/* SERVICES */
.services-article {
  background-color: rgb(254, 249, 247);
  margin-right: 40px;
  margin-top: 30px;
  padding-bottom: 40px;
  padding: 20px;
}
.services {
  font-size: 30px;
  text-align: center;
  padding: 20px;
  color: #635e5d;
}
.services-text {
  text-align: center;
  line-height: 1.5;
  color: #575352;
  font-weight: lighter;
  margin-bottom: 30px;
}
.service-header {
  text-align: center;
  padding: 10px;
}
.service-p {
  color: #635e5d;
  font-size: 14px;
}
.red-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #EA5434;
  outline: #F09171;
  margin-bottom: -30px;
  margin-left: 170px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);   
}
.red-circle:hover {
  background-color: white;
  border: 2px solid red;
}

.service-box {
  width: 380px;
  height: 180px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);   
  padding: 30px 10px;
  margin: 10px;
}
.box-logo-white {
  align-items: center;
  padding-left: 17px;
  padding-bottom: 25px;
  padding-top: 15px;
  font-size: 30px;
  text-decoration: none;
}
.box-logo-white a {
  color: white;
}
.box-logo-white a:hover {
  color: red;
}

/* VALUES */
.values-article  {
  padding: 40px;
}
.values-img {
  border-radius: 14px;
  width: 100%;
  padding: 10px;
}
.values-header {
  text-align: center;
  padding: 10px;
}
.values-text:hover {
  color: white;
}
.values-text {
  font-size: 15px;
  line-height: 1.5;
  color: #575352;
  font-weight: lighter;
  margin-bottom: 10px;
}
.values-read {
  font-size: 12px;
  color: #796D69;
  font-weight: lighter;
}
.values-read:hover {
  color: white;
}
.text-box {
  background-color: rgba(255, 255, 255, 0.808);
  width: 550px;
  height: 140px;
  margin-top: -160px;
  margin-left: 20px;
  padding: 10px 20px;
  position: absolute;
  border-radius: 5px;
}
.text-box:hover {
  background-color: #ea5534e8;
  color: white;
}
/* TESTMONIALS */
.test-woman {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.test-bg {
  background-image: url(../media/testimonials-bg.jpg);
  width: 100%;
  padding: 40px 90px;
  margin-bottom: 40px;
}
.name-test {
  text-align: center;
  color: white;
  padding-bottom: 10px;
  padding-top: 20px;
}
.desc-test {
  text-align: center;
  color: #CCCCCE;
  font-weight: lighter;
  padding-bottom: 10px;
}
.test-text {
  text-align: center;
  color: white;
  line-height: 1.5;
  padding-bottom: 20px;
}
.circle-3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #EA5434;
  margin: 5px;
}
.circle-4 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #CCCCCE;
  margin: 5px;
}
/* OUTLINE */
.all-outline {
  color: #EA5434;
  background-color: #f091716b;
  font-size: 15px;
  width: 50px;
  height: 22px;
  text-align: center;
  border-radius: 10px;
  padding-top: 4px;
}
.all-text {
  font-size: 13px;
  font-weight: lighter;
  padding: 15px;
}
.all-text:hover {
  color: #EA5434;
  background-color: #f091716b;
  width: 60px;
  height: 22px;
  text-align: center;
  border-radius: 10px;
  padding-top: 4px;
}
.portfolio-img {
  border-radius: 14px;
  width: 100%;
  padding: 10px;
  position: relative;
}

.portfolio-squares:hover .img-popup  {
  display: block;
  width: 350px;
  height: 80px;
  padding: 20px 40px;
  color: white;
  background-color: rgba(255, 255, 255, 0.925);
  position: absolute;
  margin-top: -100px;
  margin-left: 20px;
}
.img-popup  {
  display: none;
}
.card {
  font-size: 20px;
  margin-bottom: 10px;
  color: #CCCCCE;
}
.card-text {
  color: #CCCCCE;
}
.portfolio {
  padding: 10px 40px;
}
/* TEAM */
.team-article {
  background-color: rgb(254, 249, 247);
  margin-right: 40px;
  margin-top: 30px;
  padding: 10px 40px;
}
.team-img {
  border-radius: 8px;
  width: 300px;
  height: 340px;
  padding: 10px;
}

.team-smh:hover .smh-icons {
  display: block; 
  margin-top: -60px;
  margin-left: 45px;
  text-decoration: none;
  color: white;
}
.smh-icons{
  display: none; 
}
.smh-icons a {
  text-decoration: none;
  color: white;
  margin: 10px;
}
.team-box {
  width: 300px;
  height: 380px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.137); 
  margin: 10px;  
  margin-top: 60px;
  background-color: white;
}
/* PRICING */
.pricing-box {
  width: 270px;
  height: 370px;
  background-color: white;
  border: 2px solid #F8F8F8;
  border-radius: 5px;
  margin: 10px;
}
.advanced {
  padding: 5px 35px;
  font-size: 12px;
  position: absolute;
  background-color: #ee5639;
  color: white;
  transform: rotate(50deg);
  clip-path: 
    polygon(
      25% 0%,     /* top left */
      85% 0%,     /* top left */
      100% 0%,    /* top right */
      80% 0%,   /* top right */
      100% 95%,  /* bottom right */
      95% 100%,  /* bottom right */
      5% 100%,   /* bottom left */
      0 95%      /* bottom left */
    );
  margin-left: 175px;
  margin-top: 20px;
}
.top-grey {
  text-align: center;
  background-color: #F8F8F8;
  padding: 20px 30px;
  border-radius: 5px 5px 0 0;
}
.top-red {
  background-color: #EA5434;
  text-align: center;
  color: white;
  padding: 20px 30px;
  border-radius: 5px 5px 0 0;
}
.pricing-text {
  font-size: 30px;
  color: #EA5434;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.pricing-p {
  font-size: 15px;
  font-weight: lighter;
  padding: 10px;
  text-align: center;
}
.per-month {
  font-size: 15px;
  color: #aca4a4;
  padding: 10px;
}
.pricing-cross {
  font-size: 15px;
  font-weight: lighter;
  color: #A59D9B;
  text-decoration: line-through;
  padding: 10px;
  text-align: center;
}
.btn-grey {
  text-align: center;
  background-color: #F8F8F8;
  padding: 20px 30px;
  border-radius: 0px 0px 5px 5px;
}
.buy-btn {
  font-size: 14px;
  width: 120px;
  height: 30px;
  color: white;
  background-color: #EA5434;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);   
  border-radius: 5px;
  padding-top: 8px;
  margin-left: 35px;  
}
.buy-btn:hover {
  background-color: #DB5F46;
}
/* FAQ */
.faq-box {
  width: 940px;
  height: 110px;
  background-color: white;
  padding: 20px;
  margin: 20px 80px;
}
.faq-red {
  color: #EA5434;
  padding-bottom: 15px;
}
.faq-black {
  color: #796D69;
  padding-bottom: 15px;
}
.faq-text {
  color: #635e5d;
  line-height: 1.5;
}
.faq-black:hover {
  color: #EA5434;
}
.faq-sm {
  width: 940px;
  height: 60px;
  background-color: white;
  padding: 20px;
  margin: 20px 80px;
}
/* CONTACT */
.location-box {
  width: 266px;
  height: 116px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.137);   
  margin: 10px;
  padding: 10px;
}
.address-text {
  font-size: 18px;
  color: #524b49;
  padding: 10px;
}
.location-text {
  font-size: 14px;
  color: #524b49;
  font-weight: lighter;
  padding: 5px;
}
.logo-loc {
  padding-bottom: 50px;
}
form {
  background-color: white;
  width: 830px;
  height: 400px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.137);   
  padding: 32px;
}
.form-control {
  border: 1px solid #aca4a4;
  display: block;
  width: 100%;
  margin-bottom: 24px;
  padding: 12px 20px;
  border-radius: 4px;
  margin-right: 10px;
}
.btn-form {
  width: 135px;
  height: 40px;
  background-color: #EA5434;
  color: white;
  border: none;
}
.btn-form:hover {
  background-color: #F09171;
}
/* TOP-FOOTER */
.footer-brand {
  font-size: 25px;
  font-weight: lighter;
  padding-bottom: 20px;
  padding-top: 40px;
  color: black;
}
.footer-address {
  color: #796D69;
  font-size: 14px;
  padding-bottom: 20px;
  line-height: 1.5;
}
.footer-contact {
  font-size: 14px;
  font-weight: lighter;
  color: #796D69;
  padding-bottom: 8px;
}
.footer-span {
  font-weight: bold;
}
.footer-nav {
  font-size: 18px;
  line-height: 1.5;
}
.footer-nav a {
  color: #575352;
}
.footer-heading {
  color: #575352;
  font-size: 14px;
  margin-left: 13px;
  font-weight: bold;
  margin-top: 40px;
}
.newsletter-text {
  font-size: 15px;
  color: #796D69;
  padding: 15px;
  line-height: 1.5;
}
.nav-bar-f ul {
  list-style: none;
}
.nav-bar-f a{
  text-decoration: none;
  color: #A59D9B;
  font-size: 12px;
  padding: 16px;
  font-weight: lighter;
}
.long-search {
  background-color: white;
  border-radius: 15px;
  width: 290px;
  height: 39px;
  border: 2px solid #ffdbd496;
}
.subscribe-btn {
  height: 35px;
  width: 100px;
  background-color: #EA5434;
  border-radius: 15px;
  color: white;
  text-align: center;
  font-size: 16px;
  padding-top: 5px;
  margin-left: 200px;
}
.footer-article {
  background-color: rgb(254, 249, 247);
  margin-right: 40px;
  margin-top: 30px;
  padding: 20px;

}
.arrow {
  color: #EA5434;
}
.search-sect {
  margin-right: 100px;
}
/* FOOTER */
.footer {
    padding: 30px;
}
.sm-icons-footer {
  font-size: 30px;
  text-decoration: none;
}
.sm-icons-footer a {
  color: red;
  padding-right: 10px;
}
small {
  color: #aca4a4;
  font-size: 12px;
  line-height: 1.5;
}
.brand-bold {
  font-weight: bold;
  color: #635e5d;
}
.brand-name {
  color: #EA5434;
}

/* BLOG.HTML */
.home-sect {
  background-color: rgb(219, 219, 219);
  margin-right: 40px;
  margin-top: 30px;
  padding-bottom: 10px;
  padding: 20px;
}
.blog-heading {
  font-size: 30px;
  font-weight: normal;
  padding-top: 20px;
  padding-left: 5px;
}
/* Blog Article */
.more-article {
  width: 360px;
  height: 540px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.137); 
  margin: 10px;  
  margin-top: 60px;
}
.blog-img {
  width: 100%;
}
.blog-heading {
  font-size: 30px;
  font-weight: normal;
  color: #575352;
}
.blog-title {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  line-height: 1.5;
}
.time-logo {
  margin-left: 10px;
  color: #796D69;
  margin-top: 10px;
  margin-left: 10px;
}
.year-text {
  font-size: 12px;
  font-weight: lighter;
  padding: 10px;
}
.blog-p {
  font-size: 14px;
  line-height: 1.5;
  color: #796D69;
  padding-top: 10px;
  margin: 10px;
}
.blog-btn {
  width: 100px;
  height: 30px;
  background-color: #EA5434;
  color: white;
  border: none;
  font-size: 15px;
  padding: 5px 12px;
  margin-left: 240px;
}
.blog-btn:hover {
  background-color: #F09171;
}
.bottom-numbers a {
  text-decoration: none;
  color: rgba(140, 140, 140, 0.582);
  border: 1px solid rgba(172, 172, 172, 0.473);
  padding: 15px;
}
.bottom-numbers .number-2 {
  background-color: #ee5639;
  color: white;
  border: 1px solid #ee5639;
}
.bottom-numbers {
  margin-top: 30px;
  text-align: center;
}
.bottom-numbers a:hover {
  color: white;
  background-color: #ee5639;
}
/* Button */
.top-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #EA5434;
  text-decoration: none;
  color: white;
  position: fixed;
  right: 30px;
  bottom: 30px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}
/* MOBILE VERSION */
@media screen and (max-width: 768px) {
  .container{
    max-width: 720px;
  }
  .flex {
    flex-wrap: wrap;
  }
    .flex-btw, .flex-left, .flex-blog-left, .flex {
      flex: 1 1 100%;
    }
    .mobile-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
    .flex-mobile-left {
      display: flex;
      justify-content: left;
      align-items: center;
      flex-direction: row;
    }
  /* Navigation Mobile */
  .nav-bar ul a {
    margin-left: 0;
    color: black;
  }
  .nav-bar {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height:100vh;
    background-color: #ee57398f;
    padding-top: 12rem;
    font-size: 30px;
  }
  .dropbtn {
    color: black;
  } 
  .drop-down {
    font-size: 30px;
  }
  #toggle:checked ~ .nav-bar {
    display: inline-block;
  }
  .bars {
    font-size: 24px;
    display: block;
  }
  .column {
    flex-direction: column;
  }
  .background-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../media/hero-bg.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;
    width: 700px;
  }
  .choose-box {
    width: 100%;
    margin: 20px 0;
  }
  .choose-text {
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 60px;
  }
  .header {
    width: 700px;
  }
  .article-choice {
    width: 700px;
  }
  .white-box {
    width: 100%;
    margin: 20px 0;
  }
  .box-logo {
    margin-right: 80px;
    text-align: center;
  }
  .about-article {
    width: 900px;
  }
  .container {
    padding: 10px 20px;
  }
  .about-image {
    margin-bottom: 30px;
  }
  .about-text{
    margin-top: 150px;
  }
  .text-aside {
    display: inline-block;
  }
  .text-box {
    width: 300px;
  }
  .values-text {
    font-size: 12px;
  }
  .values-img{
    width: 450px;
  }
/* TEAM */
.team-article {
  width: 670px;
}

/* SERVICES */ 
.services-article {
 width: 700px;
}
/* VALUES */
.values-article {
  display: inline-block;
  padding: 40px 120px;
}
/* CLIENT */
.client-article {
  display: inline-block;
  padding: 100px 230px;
}

  /* Testimony */
  .test-bg {
    width: 700px;
  }
  .test-text {
    font-size: 18px;
  }
/* FAQ */
.faq-box, .faq-sm  {
    margin: 20px 0;
}
.faq-box {
  width: 600px;
}
.faq-sm {
  width: 600px;
}
.faq-text {
  font-size: 13px;
}
/* PORTFOLIO */
.portfolio {
  width: 750px;
}
.footer-article {
  display: inline-block;
  padding: 40px 100px;
}
.links-col {
  display: flex;
}
.location-box {
  margin: 20px;
}
  .bottom-numbers a {
    text-decoration: none;
    color: rgb(140, 140, 140);
    border: 1px solid rgb(172, 172, 172);
    padding: 5px;
  }
  .bottom-numbers .number-2 {
    background-color: #ee5639;
    color: white;
    border: 1px solid #ee5639;
  }
  .bottom-numbers {
    margin-top: 30px;
    text-align: center;
  }
  /* FOOTER */
  .footer {
    display: block;
  }
}